<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CZAddress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>096210961F70F0DF008024E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096210B21F70F0DF008024E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096210BD1F70F0DF008024E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
